---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portfolio Artist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="http://i345.photobucket.com/albums/p362/triyanarief/favicon_zpsvnchyhxg.png">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
  {% include header.html %}
  <h1>Hallo Dunia Lain!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quam deleniti quae dolores dolore reprehenderit placeat voluptas obcaecati beatae magnam amet ipsum sequi vero, dicta animi qui rem, laboriosam mollitia doloremque saepe rerum debitis. Voluptatibus vero, recusandae fugit a asperiores quo veritatis ex ipsam iste ratione, reiciendis quia repellendus perspiciatis.</p>

  {% include footer.html %}
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
