---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Triyan Portfolio</title>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <link rel="shortcut icon" type="image/x-icon" href="http://i345.photobucket.com/albums/p362/triyanarief/favicon_zpsvnchyhxg.png">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

  {% include header.html %}

  {% include about.html %}

  {% include work.html %}

  {% include clients.html %}

  {% include contact.html %}

  {% include form.html %}


  {% include footer.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
